import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");




*{
    margin :0;
    padding :0;
    box-sizeing :border-box ;
    
}
html, body{
    line-height :1.4;
    font-weight :300;
    font-family: "Roboto", sans-serif;
    
}
/* button */
button {
    padding :10px 15px ;
    margin:gren ;
    transition :1.2s ease-in-out ;
    border-radius :15px ;
    
}
button :hover {
    opacity :10;
    transition :1.2s ease-in-out ;
}
.button {
    background-color:#ea9027c9 ;
    align-self:flex-start;
    
}
/* end button */



/* navigation */

nav{
    box-shadow :5px 5px 5px rgb(1, 1 ,1, 1.05);
    position :sticky;
    top:0;
    margin-bottom :32px ;
    background-color: white;
    padding :20px ;
    z-index:50px ;
}
.navigation {
    display :flex ;
    justify-content :space-between ;
    align-items :center ;
}


.containar {
    max-width:1200px ;
    margin :0 auto ;
}

.bar_icon {
    font-size :30px ;
}
/* end navigation*/

/* main section */

.main{
    display :flex ;
    gap:90px;
    justify-content :center ;
    align-items :center ;
    gap:20px;
    
}

.main_contant{
    display :flex ;
    flex-direction :column;
    
}
.tag{
    background-color: #149f39;
    padding :5px 10px ;
    color: white;
    align-self:flex-start;
}
.main_contant 
h1{
    font-size: 50px;
   /*  line-height :1.4 ; */
   font-weight: 300px;
}



/* fuchr section*/

.features {
  margin-top: 100px;
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 50px;
}
.feature {
  display: flex;
  gap: 20px;
  padding: 20px;
  transition: 1.2s ease-in-out;
}
.feature img {
  width: 72px;
}
.feature:hover {
  transition: 1.2s ease-in-out;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 1.05);
}

.divider{
    border :1px solid black ;
    margin :20px 0;
}


/* menu  section*/


.menu {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 50px 0;
  align-items: center;
}
.menu .tag {
  align-self: center;
}

.grid-img{
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}
.grid-img:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}
.grid {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
}

.item1 {
  grid-area: I1;
}
.item2 {
  grid-area: I2;
}
.item3 {
  grid-area: I3;
}
.item4 {
  grid-area: I4;
}
.item5 {
  grid-area: I5;
}
.item6 {
  grid-area: I6;
}
.item7 {
  grid-area: I7;
}
/* foter section */
footer {
    background-color: #fff0db;
}

.footer_container{
    padding :30px;
    display :flex ;
    justify-content :space-between ;
}



.link_lists h3
{
    margin-bottom :10px ;
    color: Grey;
}

.link_lists ul{
    list-style: none;
}
.link_lists ul li {
    font-size :15px ;
    margin-bottom :5px ;
    
}



news_letter h3 {
  margin-bottom: 10px;
  color: gray;
}
.news_letter input {
  padding: 5px 40px;
  margin-bottom: 10px;
}
.footer_container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.icon_container {
  display: flex;
  gap: 15px;
  font-size: 32px;
}

/* end foter section*/



. icon:haver {
    background-color: #40fff5;
}


.data_taking:haver{
    background-color: #80ffea;
}



@media(max-width :786px)
{


.main_img {
    display :flex ;
    justify-content :center ;
}
.main
{
    flex-direction:column;
}
    .main_img
{
        width: 90px ;
}
    .main_contant
{
        gap:10px ;
        padding :20px ;
        
}
.main_contant
h1 {
    font-size :32px ;
    line-height: 1.2;
}
}


