@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --lighting-color: #0089b7;
  --dark-color: #003d62;
  --darker-color: #003251;
  --secondary-color: #fff700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
  color: white;
}
body {
  font-size: 1.4rem;
}

.containar {
    max-width :1300px ;
    margin :-5px auto ;
    position :sticky ;
    padding : 2rem ;
}

header {
    background: var( --lighting-color);
}

nav{
    display :flex ;
    justify-content :space-between ;
    align-items :center ;
    padding :4rem;
    position :sticky ;
    /* tpi:0;
    backdrop-filters:black (10px); */
}

a{
    text-decoration :none ;
    color: white;
}
ul{
    list-style:none;
    align-items: center;
}

nav ul {
    display :flex ;
    gap :3rem;
}

.logo{
    font-size: 2rem;
    font-weight: 700;
}

nav li{
    font-size:1.8rem ;
        border-bottom :0.5rem transparent solid;
    
}

nav li:haver {
    border-bottom :0.5rem var( --secondary-color)solid;
}


nav li:hover {
  border-bottom: 0.4rem var(--secondary-color) solid;
  transition: 0.6s ease-in;
}


.hero_image img {
    width: 50%;
    height: 50%;
    /* border-radius: 50px; */
}
#hero {
    background: var( --dark-color);
    padding :4rem 0;
    border-bottom :4px solid var( --lighting-color)  ; 
}

 #hero .containar {
     display :flex ;
     justify-content :space-between;
     align-items :center ;
     
 }
 
 .hero_section{
     display :grid ;
     place-items :center ;
     display :flex ;
     flex-direction :column ;
 }
 
 #hero h1{
     font-size: 4rem;
     font-weight:bold ;
 }
 
 .hi{
     font-size:6rem ;
     font-weight: bold;
     color: var(--secondary-color);
 }
.Name {
    font-size: 5rem;
}


 #hero h2{
     font-size: 3rem;
     font-weight:bold ;
     text-transform :uppercase ;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
     border-right: 0.15em solid orange; /* The typwriter cursor */
     white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */ /* Adjust as needed */
    animation: typing 3s steps(40, end), blink-caret 0.7s step-end infinite;
 }
 
 
 

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

#project{
    background: var( --darker-color);
}


#project {
  background: var(--darker-color);
}


#project h2 {
  font-size: 6rem;
  text-align: center;
  padding: 2rem 0;
}


.project_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  box-shadow :5px  5px  5px rgba (0.1px 1.0px );
}


.grid_item {
    display:grid ;
    place-items :center ;
}

.card {
    width: 300px;
    display :flex ;
    flex-direction :column ;
    border-radius: 1.5rem;
    overflow :hidden ;
    transition :0.2s ease-in-out ;
}





.card:hover {
  transform: scale(1.05);
  transition: 1s ease-in-out;
}

.card:haver img{
    transform :scale (1.05);
    transition :1.3s ease-in-out ;
    opacity :0.8 ;
    
}




.card:hover img {
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  opacity: 0.8;
}
.card:hover .card_content {
  background: black;
  color: white;
  transform: translateY(0px);
}

.card_content {
  padding: 2rem;
  position: relative;
  top: -6.5rem;
  margin-bottom: -6.5rem;
  transition: 0.5s ease-in-out;
  transform: translateY(100px);
  
}




/* contact */

#contact {
    background: var( --dark-color);
    
    
}

#contact{
    font-size: 2rem;
    text-align :center ;
    margin :2rem 0 ;
    
}

#contact .containar{
    height:100vh;
    display :flex ;
    flex-direction :column ;
    justify-content :center ;
}

.containar h2{
    margin-bottom :30px ;
}


.top_contact {
  max-width: 800px;
  display: grid;
  padding-bottom :25px ;
   margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.contact_way {
    display :flex ;
    gap :1rem;
    align-items :center ;
}

.contact_way i{
    font-size: 32px;
    
}


.contact_way i h3 :haver {
    background: #000000;
    color: white;
}
.contact_way h3{
    font-size: 24px;
    font-weight:bold ;
}




.bottom_contact{
   max-width: 400px;
  display: grid;
  gap :10px ;
   margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  
  
}

footer{
    background: var( --darker-color);
    padding :2rem;
    text-align :center ;
    font-size:2rem ;
    font-weight:bold;
    
    padding :4rem 0;
  border-bottom :5px solid var( --lighting-color)  ; 
}



/* responsev*/


@media (max-width: 786px) {
  html {
    font-size: 40%;
  }
  #hero .container {
    flex-direction: column;
  }
  .hero_image {
    display: grid;
    place-items: center;

  }
  #contact .container {
    height: 70vh;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 32%;
  }
  #hero .container {
    flex-direction: column;
  }
  .hero_image {
    display: grid;
    place-items: center;
  }
  #contact .container {
    height: 50vh;
  }
}